.container {
    /*width: 50vw;*/
    /*height: 50vh;*/
    margin-left: 2vh;
    margin-top: 2vh;
    display: flex;
}

.contents {
    /*margin: auto auto;*/
    /*width: fit-content;*/
}

.page_title {
    padding-left: 1vh;
}